[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/bundle/thrift"]
	path = .vim/bundle/thrift
	url = https://github.com/theevocater/thrift.vim.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
