[core]
	ignorecase = false
  editor = vim
  mergeoptions = --no-edit
  pager = less
[user]
  name = Patrick Hayes
  email = pfhayes@gmail.com
[alias]
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
  br = branch
  ci = commit -v
  co = checkout
  df = diff -b
  dif = diff -b
  diff = diff -b
  git = !exec git
  grab = clone --depth 1
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  sh = show
  st = status
[diff]
  algorithm = patience
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = cyan bold
  local = yellow
  remote = magenta
[color "diff"]
  new = green bold
  old = red bold
  frag = cyan bold
  meta = white bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = cyan bold
  untracked = white bold
[branch]
	autosetuprebase = always
[rerere]
  enabled = true
