[core]
  editor = vim
	ignorecase = false
[alias]
  br = branch
  ci = commit -v
  co = checkout
  df = diff -b
  dif = diff -b
  diff = diff -b
  sh = show
  st = status
[diff]
  algorithm = patience
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = cyan bold
  local = yellow
  remote = magenta
[color "diff"]
  new = green bold
  old = red bold
  frag = cyan bold
  meta = white bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = cyan bold
  untracked = white bold
[branch]
	autosetuprebase = always
[rerere]
  enabled = true
[alias]
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
